.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efdede;
  min-height: 100vh;
  padding: 5px; /* Reduzi ainda mais o padding */
  width: 100vw;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px; /* Reduzi o padding */
  box-sizing: border-box;
  width: 100%; /* Ajustei para ocupar 100% da largura disponível */
  max-width: 800px; /* Reduzi a largura máxima */
}

.dashboard-content h1 {
  font-size: 1.5rem; /* Reduzi o tamanho da fonte */
  color: black;
  text-align: left;
  width: 100%;
  margin-bottom: 10px; /* Reduzi a margem inferior */
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; /* Reduzi o espaço entre os cards */
  margin-bottom: 10px; /* Reduzi a margem inferior */
  width: 100%;
  margin-top: 300px;
}

.card {
  background-color: #000000;
  color: pink;
  border-radius: 8px;
  padding: 8px; /* Reduzi o padding */
  width: 160px; /* Reduzi a largura */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card h2 {
  font-size: 1rem; /* Reduzi o tamanho da fonte */
  color: pink;
}

.card .count {
  font-size: 1.3rem; /* Reduzi o tamanho da fonte */
  font-weight: bold;
  color: black;
}

.card .icon {
  font-size: 1.5rem; /* Reduzi o tamanho do ícone */
  color: pink;
}

.list-container {
  margin-top: 5px; /* Reduzi a margem superior */
  width: 100%;
  max-width: 800px; /* Reduzi a largura máxima */
  margin: 0 auto;
}

.list-container h2 {
  font-size: 1.3rem; /* Reduzi o tamanho da fonte */
  color: black;
  text-align: left;
  margin-bottom: 10px; /* Reduzi a margem inferior */
  font-weight: bold;
}

.list-container p {
  color: black;
  margin-bottom: 10px; /* Reduzi a margem inferior */
  font-size: 0.9rem; /* Reduzi o tamanho da fonte */
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: none;
}

th, td {
  padding: 6px; /* Reduzi o padding */
  text-align: left;
  border-bottom: 1px solid #080808;
  color: black;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

td {
  color: black;
}

tr:hover td {
  background-color: #f1f1f1;
}


