.cadastro-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.cadastro-form-container {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.cadastro-form-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.cadastro-form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Para a cor branca do input */
    color: #000;
}

.btn-cadastrar {
    grid-column: span 2;
    padding: 15px;
    background-color: black;
    color: pink;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
}

.cadastro-form-container p {
    grid-column: span 2;
    text-align: center;
    margin-top: 10px;
}

.cadastro-imagem {
    flex: 1;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
