/* Estilo para o contêiner principal */
.login-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    
}

/* Estilo para a seção da imagem */
.login-imagem {
    flex: 68%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilo para a seção do formulário de login */
.login-form {
    flex: 32%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: hsl(293, 21%, 92%); /* Fundo branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Leve sombra para destaque */
}

/* Estilo para o título e descrição */
.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #121212;
    text-align: center;
}

.login-form p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #3d3838;
    text-align: center;
    max-width: 300px;
}

/* Estilo para os grupos de formulários */
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo para as entradas de formulário */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para os botões */
.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form .btn-primary {
    background-color: pink; /* Cor de fundo rosa */
    color: black; /* Cor do texto preto */
}

.login-form .btn-secondary {
    background-color: black; /* Cor de fundo preta */
    color: pink; /* Cor do texto rosa */
}
  
